.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    position: relative;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh; /* Default height for larger screens */
}

.carousel-container img {
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    opacity: 0.8; /* To make text more visible */
}

.hero h1, .hero p {
    z-index: 1;  /* Ensures text stays above carousel */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .hero {
        height: 70vh;  /* Reduce hero height for better mobile experience */
    }

    .carousel-container {
        height: 70vh;  /* Ensure carousel matches the reduced height */
    }

    .carousel-container img {
        height: 70vh;  /* Maintain image proportion */
    }

    .hero h1 {
        font-size: 2rem;  /* Adjust heading size for mobile */
    }

    .hero p {
        font-size: 1rem;  /* Adjust paragraph size for mobile */
    }
}
